extends ../layout/base
block content
    section.content-header
        h1
            | Tambah Siswa
            small 
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    | Level
                li.active Here
    section.content
        .box
            .box-header.with-border
                h3.box-title
                    | Data Siswa
                .box-tools.pull-right
                    button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
                        i.fa.fa-minus

            .box-body
                form(role='form',method='post' action='/customers/add')
                    .row

                        .col-xs-6
                            .box-body
                                - if (messages.msg_error)
                                    .alert.alert-danger.alert-dismissable
                                        button.close(type='button', data-dismiss='alert', aria-hidden='true')
                                            | ×
                                        h4
                                            i.icon.fa.fa-ban
                                            | Alert!
                                        | !{messages.msg_error}
                                .form-group
                                    label
                                        | Nama
                                    input(type='text',value='#{nama}',name='nama',placeholder='Masukkan nama', autofocus).form-control
                                .form-group
                                    label
                                        | Kelas
                                    input(type='text',name='kelas',placeholder='Masukkan kelas').form-control
                                .form-group
                                    label
                                        | Total Pembayaran
                                    input(type='text',value='#{total_pembayaran}',name='total_pembayaran',placeholder='Total Pembayaran').form-control
                                .form-group
                                    label
                                        | Status Pembayaran
                                    input(type='text',name='status_pembayaran',placeholder='Status Pembayaran').form-control
                            .box-footer
                                button(type='submit').btn.btn-primary
                                    | Submit

                                a(href='/customers').btn.btn-primary.pull-right
                                    | Back